@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border-gradient {
    border: 2px solid transparent; /* Establece un borde transparente inicial */
    border-image: linear-gradient(65deg, rgba(255, 0, 102, 1) 0%, rgba(94, 0, 190, 1) 100%);
    border-image-slice: 1;
    border-radius: 9999px; /* Hace que el borde sea circular */
  }